
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


@import 'variables';
@import 'mixin';
@import 'main';
@import 'navbar';
@import 'hero';
@import 'about';
@import 'footer';










