.btn {
  border: none;
  outline: none;
  padding: 1rem 4rem;
  color: white;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  background: -webkit-linear-gradient(left, var(--cyan), var(--blue));
}
