.features {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/*div*/
.features__card {
  width: 50%;
  text-align: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*img*/
.features__img {
  margin-bottom: 2rem;
}

/*h3*/
.features__title {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

/*p*/
.features__text {
  width: 80%;
  font-size: 1.2rem;
  color: #ddd;
}
