/*importando otro archivo CSS para fusionar sus propiedades
con las propiedades de éste archivo*/
@import url("./variables.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./features.css");
@import url("./button.css");
@import url("./tutorial.css");
@import url("./comments.css");
@import url("./suscribe.css");
@import url("./footer.css");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 14px;
}
body {
  color: var(--white);
  background-color: var(--dark-blue-2);
  font-family: var(--open-sans);
}
