* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #444;
	color: white;
}

.productos {
	margin: 2rem;
	border: 1px solid white;
	border-radius: 15px;
	background-color: #555;
	display: flex;
	justify-content: center;
	padding: 1rem;
	gap: 0.5rem;
	flex-wrap: wrap;
}
.productos__producto {
	max-width: 200px;
	flex: 1;
	border: 1px solid #ccc;
	padding: 1rem;
	text-align: center;
}

.productos__producto button {
	padding: 0.3rem;
	border: solid 1px white;
	border-radius: 2px;
	background-color: transparent;
	color: white;
	outline: none;
}
.productos__producto button:hover {
	background-color: white;
	color: #444;
	cursor: pointer;
}

.productos__producto:hover {
	background-color: #666;
	cursor: pointer;
}

.carrito{
	margin: 2rem;
	border: 1px solid white;
	border-radius: 15px;
	background-color: #555;
	padding: 1rem;
}
/*ul*/
.carrito__lista{
	list-style: none;
	margin-top: 0.5rem;
}
.carrito__lista li{
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #aaa;
}
.btn-eliminar{
	margin-left: 0.5rem;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: 1px solid white;
	outline: none;
	color: white;
	cursor: pointer;
}
.btn-eliminar:hover{
	background-color: white;
	color: #444;
}