.articulos {
  border: 1px solid #444;
  border-radius: 20px;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
}
.articulos__articulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
