* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.header {
  height: 60px;
  background-color: #444;
}
.main__menu {
  width: 200px;
  background-color: #555;
  display: inline-block;
}
.main__noticias {
  width: 600px;
  background-color: #666;
  display: inline-block;
}
.header__item {
  display: inline-block;
  color: white;
  padding: 5px 10px;
}
