@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

code {
  color: violet;
}
.titulo {
  /*Tipo de fuente*/
  font-family: Arial, Helvetica, sans-serif;
  /*Tamaño de la fuente*/
  font-size: 32px;
  /*Grosor de la fuente*/
  /*valores entre 100 y 900 donde 900 es super negrita*/
  /*vlaores "normal" y "bold"*/
  font-weight: 500;
  font-style: italic;
}

.subtitulo {
  /* Une todas las propiedades de fuente */
  /* Orden: style weight size family*/
  font: normal 500 24px Arial;
}

.parrafos__p1 {
  /*Alineación del texto interno de un elemento*/
  /* center right justify */
  text-align: right;
}

.parrafos__titulo {
  text-align: center;
  color: white;
  background-color: #444;
  /*espaciado entre letra y letra*/
  letter-spacing: 8px;
  /*espaciado entre palabra y palabra*/
  word-spacing: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
